# Firebase sozlamalari
# 1. console.firebase.google.com — Google akkauntingiz bilan kiring
# 2. Yangi loyiha yarating
# 3. Loyiha sozlamalari (⚙️) → Umumiy → Pastga aylantiring → "Ilovangizga Firebase qo'shing" → Web (</>)
# 4. Ko'rsatilgan qiymatlarni quyiga ko'piring

VITE_FIREBASE_API_KEY=AIzaSyBXgPgnj95jA7W5j4o7Lb9K_CtaQhqPsFM
VITE_FIREBASE_AUTH_DOMAIN=elite-student-manager.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=elite-student-manager
VITE_FIREBASE_STORAGE_BUCKET=elite-student-manager.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=652648144374
VITE_FIREBASE_APP_ID=1:652648144374:web:2015ba596326409914bbd7